<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: Arial, sans-serif;
            color: #333;
            line-height: 1.6;
        }
        .container {
            width: 80%;
            margin: auto;
            border: 1px solid #ccc;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .header {
            text-align: center;
            background-color: #f8f8f8;
            padding: 10px 0;
        }
        .content {
            padding: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <h2>Access Granted to Pulsopus</h2>
    </div>
    <div class="content">
        <p>Hi {{userName}},</p>
        <p>Great news! Your access to Pulsopus has been granted by the admin. You can now sign in using the following link:</p>
        <p><a href="{{loginLink}}">Login Link to Pulsopus</a></p>
        <p>If you have any questions or need further assistance, feel free to reach out.</p>
        <p>Best regards,<br>Pulsopus Team</p>
    </div>
</div>
</body>
</html>
