<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: Arial, sans-serif;
            color: #333;
            line-height: 1.6;
        }
        .container {
            width: 80%;
            margin: auto;
            border: 1px solid #ccc;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .header {
            text-align: center;
            background-color: #f8f8f8;
            padding: 10px 0;
        }
        .content {
            padding: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <h2>Access Request to Pulsopus</h2>
    </div>
    <div class="content">
        <p>Hi {{userName}},</p>
        <p>Thank you for your interest in joining Pulsopus. Unfortunately, your access request has been declined by the admin at this time.</p>
        <p>If you believe this is a mistake or have any questions, please feel free to reach out for further assistance.</p>
        <p>Best regards,<br>Pulsopus Team</p>
    </div>
</div>
</body>
</html>
